<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.mountain.dao.mysql.SseCollectionUserDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.site.mountain.entity.SseCollectionUser">
        <result column="cu_id" property="cuId"/>
		<result column="user_id" property="userId"/>
		<result column="cd_id" property="cdId"/>

    </resultMap>

    <sql id="all_column">
        `cu_id`,
		`user_id`,
		`cd_id`

    </sql>

    <insert id="insertSelective">
        INSERT INTO sse_collection_user (
		`cu_id`,
		`user_id`,
		`cd_id`

	) VALUES ( 
		#{cuId},
		#{userId},
		#{cdId}
	) 

    </insert>

    <!--有条件插入-->
    <insert id="insert">
        INSERT INTO sse_collection_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cuId!=null">`cu_id`,</if> 
			<if test="userId!=null">`user_id`,</if> 
			<if test="cdId!=null">`cd_id`,</if> 

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cuId!=null">#{cuId},</if> 
			<if test="userId!=null">#{userId},</if> 
			<if test="cdId!=null">#{cdId},</if> 

        </trim>
    </insert>

    <update id="updateOne">
        UPDATE sse_collection_user
        <trim prefix="set" suffixOverrides=",">
            <if test="cuId!=null">`cu_id`= #{cuId},</if> 
			<if test="userId!=null">`user_id`= #{userId},</if> 
			<if test="cdId!=null">`cd_id`= #{cdId},</if> 

        </trim>
        WHERE sid=#{sid}
    </update>

    <select id="findList" parameterType="com.site.mountain.entity.SseCollectionUser" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sse_collection_user
        <where>
            <if test="cuId != null">AND cu_id = #{cuId}</if>
			<if test="userId != null">AND user_id = #{userId}</if>
			<if test="cdId != null">AND cd_id = #{cdId}</if>

        </where>
    </select>

    <delete id="delete" parameterType="com.site.mountain.entity.SseCollectionUser">
        DELETE from sse_collection_user
        <where>
            <if test="cuId != null">AND cu_id = #{cuId}</if>
			<if test="userId != null">AND user_id = #{userId}</if>
			<if test="cdId != null">AND cd_id = #{cdId}</if>

        </where>
    </delete>


</mapper>

