<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.mountain.dao.mysql.SseSceneKeywordDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.site.mountain.entity.SseSceneKeyword">
        <result column="sid" property="sid"/>
		<result column="kw_id" property="kwId"/>

    </resultMap>

    <sql id="all_column">
        `sid`,
		`kw_id`

    </sql>

    <insert id="insertSelective">
        INSERT INTO sse_scene_keyword (
		`sid`,
		`kw_id`

	) VALUES ( 
		#{sid},
		#{kwId}
	) 

    </insert>

    <!--有条件插入-->
    <insert id="insert">
        INSERT INTO sse_scene_keyword
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid!=null">`sid`,</if> 
			<if test="kwId!=null">`kw_id`,</if> 

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid!=null">#{sid},</if> 
			<if test="kwId!=null">#{kwId},</if> 

        </trim>
    </insert>

    <update id="updateOne">
        UPDATE sse_scene_keyword
        <trim prefix="set" suffixOverrides=",">
            <if test="sid!=null">`sid`= #{sid},</if> 
			<if test="kwId!=null">`kw_id`= #{kwId},</if> 

        </trim>
        WHERE sid=#{sid}
    </update>

    <select id="findList" parameterType="com.site.mountain.entity.SseSceneKeyword" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sse_scene_keyword
        <where>
            <if test="sid != null">AND sid = #{sid}</if>
			<if test="kwId != null">AND kw_id = #{kwId}</if>

        </where>
    </select>

    <delete id="delete" parameterType="com.site.mountain.entity.SseSceneKeyword">
        DELETE from sse_scene_keyword
        <where>
            <if test="sid != null and sid != ''">AND sid = #{sid}</if>
			<if test="kwId != null and kwId != ''">AND kw_id = #{kwId}</if>

        </where>
    </delete>


</mapper>

